div#dayContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

div.day {
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: #252629;
    align-self: flex-start;
    margin: 15px;
    padding: 15px;
    border-radius: 30px;
    color: #e6e1e1;
}

h2 {
    padding: 10px;
    background-color: #252629;
}

div.covers {
    display: grid;
    flex-wrap: wrap;
    background-color: #252629;
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
    justify-items: center;
}

div.cover {
    background-color: #252629;
    margin: 10px;
}

div#Future {
    order: 8;
}

div#Unending {
    order: 8;
}

img.covers {
    object-fit: cover;
    width: 125px;
    height: 175px;
    border-radius: 10px;
}

a {
    background-color: #252629;
}

@media (max-width: 750px) {
    div.day {
        width: 90%;
    }
}