div#days {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

div.day {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    background-color: #252629;
    align-self: flex-start;
    margin: 15px;
    padding: 15px;
    border-radius: 30px;
    color: #e6e1e1;
}

h2 {
    padding: 10px;
    background-color: #252629;
}

div.covers {
    display: flex;
    flex-wrap: wrap;
    background-color: #252629;
    justify-content: space-between;

}

div.cover {
    background-color: #252629;
    margin: 10px;
}

div#Future {
    order: 8;
}

img.covers {
    object-fit: cover;
    width: 125px;
    height: 175px;
    border-radius: 10px;
}

a {
    background-color: #252629;
}

.filling-empty-space-childs {
    width: 125px;
    /*the width of the images in this example*/
    height: 0;
    /*Important! for the divs to collapse should they fall in a new row*/
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    background-color: #fff;
}

#loading {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5)
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}